.Mirroir{
    position: absolute;
    margin-bottom: 300px;
    z-index: 2;
    
}
.container{
    position: absolute;
}

.error_game {
    font-family: 'Public Sans', sans-serif;
    color: #96cd32;
    font-size: 50px;
}

.the_end {
    font-family: 'Public Sans', sans-serif;
    color: #ffce5c;
    font-size: 40px;
    margin-left: 80px;

}