@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');

.anecdote{
    position: absolute;
    font-family: 'Public Sans', sans-serif;
    text-align: center;
    margin-top: 35px;
    margin-left: -79px;
    width: 26%;
    height: 46%;
    color: red;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    z-index: 2

    }

    .text-anecdote{
        line-height: 30px;
        margin: 8px;
    }
    