body{
    background-color: #1423dc;
}

.dash_board {
    width: 100%;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    position:absolute;
    top: 31px;
}

.control_text {
    position: absolute;
    top: 300px;
    
}

.solar_panels {
    opacity: 50%;
    width:100%;
    min-width: 600px; 
    
}

.title_login {
    font-size: 80px;
    display: flex;
    text-align: center;
    padding-bottom: 40px;
}


