* { 
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
}

.Title {
    height: 80px;
    width: auto;
    display: block;
    margin-left: 0;
    margin-right: 0;
}
